<div class="row" ng-controller="usersCtrl">
  <div class="col">
    <h3>Users</h3>

    <div class="list-group">
      <div class="list-group-item" ng-repeat="user in users" ng-click="select(user)" ng-class="{
        active: user.id == selectedUser.id
      }">
        {{user.name}}
      </div>
    </div>

  </div>
  <div class="col">

    <!-- User Details -->
    <div ng-if="!editMode && selectedUser">
      <dl>
        <dt>Name:</dt>
        <dd>{{selectedUser.name}}</dd>
        <dt>E-Mail:</dt>
        <dd>{{selectedUser.email}}</dd>
        <dt>Phone:</dt>
        <dd>{{selectedUser.phone}}</dd>
      </dl>
      <input type="button" value="Edit" class="btn btn-info" ng-click="edit()">
    </div>

    <!-- Nothing selected  -->
    <p ng-if="!selectedUser">
      Please select user
    </p>

    <style>
      form .ng-touched.ng-invalid,
      form .ng-dirty.ng-invalid{
        border:1px solid red;
      }
    </style>

    <!-- User Form -->
    <div ng-if="editMode && selectedUser">
      <form name="userForm">
        <div class="form-group">
          <label>Name:</label>
          <input type="text" class="form-control" ng-model="editingUser.name" name="name" required minlength="3">

          <div ng-if="userForm.name.$touched || userForm.name.$dirty ">
            <div ng-if="userForm.name.$error.required">Field is required</div>
            <div ng-if="userForm.name.$error.minlength">Value is too short</div>
          </div>


        </div>
        <div class="form-group">
          <label>E-mail:</label>
          <input type="email" class="form-control" ng-model="editingUser.email" name="email">
          <div ng-if="userForm.email.$error.email">Email is invalid</div>
        </div>
        <div class="form-group">
          <label>Phone:</label>
          <input type="text" class="form-control" ng-model="editingUser.phone" name="phone">
        </div>
        <input type="button" value="Cancel" class="btn btn-danger" ng-click="cancel()">
        <input type="button" value="Save" class="btn btn-success" ng-click="save()" ng-disabled="userForm.$invalid">
      </form>

    </div>
  </div>
</div>